# these are the necessary variables, most of them
# you can find examples online of what to use, usually in their
# services documentation

# directories used
SELFHOST_ROOT={YOUR_VALUE}
HOME_DIR={YOUR_VALUE}
MUSIC_DIR={YOUR_VALUE}
BOOKS_DIR={YOUR_VALUE}
DOCUMENTS_DIR={YOUR_VALUE}
SYNC_DIR={YOUR_VALUE}
MOUNT_COLDSTORE={YOUR_VALUE}
MOUNT_NOTEBOOK={YOUR_VALUE}
MOUNT_SECONDSTORE={YOUR_VALUE}

# lastfm api key and secret
ND_LASTFM_APIKEY={YOUR_VALUE}
ND_LASTFM_SECRET={YOUR_VALUE}

# jellyfin api key
JELLYFIN_API_KEY={YOUR_VALUE}

# user and group id
PUID={YOUR_VALUE}
PGID={YOUR_VALUE}

# timezone
TZ={YOUR_VALUE}

# slskd
SLSKD_API_KEY={YOUR_VALUE}
SLSKD_USER={YOUR_VALUE}
SLSKD_PASSWORD={YOUR_VALUE}

# vaultwarden
ADMIN_TOKEN={YOUR_VALUE}

# flaresolverr
LOG_LEVEL={YOUR_VALUE}
LOG_HTML={YOUR_VALUE}
CAPTCHA_SOLVER={YOUR_VALUE}

# joplin
APP_BASE_URL={YOUR_VALUE}
APP_PORT={YOUR_VALUE}
 
DB_CLIENT={YOUR_VALUE}
POSTGRES_PASSWORD={YOUR_VALUE}
POSTGRES_DATABASE={YOUR_VALUE}
POSTGRES_USER={YOUR_VALUE}
POSTGRES_PORT={YOUR_VALUE}
POSTGRES_HOST={YOUR_VALUE}

# homarr
HOMARR_SECRET_KEY={YOUR_VALUE}

# immich
IMMICH_DB_USERNAME={YOUR_VALUE}
IMMICH_DB_PASSWORD={YOUR_VALUE}
IMMICH_DB_NAME={YOUR_VALUE}
IMMICH_DB_DATA_LOCATION={YOUR_VALUE}
UPLOAD_LOCATION={YOUR_VALUE}

# nextcloud
MYSQL_USER={YOUR_VALUE}
MYSQL_PASSWORD={YOUR_VALUE}
MYSQL_DB={YOUR_VALUE}
MYSQL_ROOT_PASSWORD={YOUR_VALUE}

# ollama
WEBUI_SECRET_KEY={YOUR_VALUE}

# invidious
LONG_KEY={YOUR_VALUE}
SHORT_KEY={YOUR_VALUE}
INVIDIOUS_DOMAIN={YOUR_VALUE}
INVIDIOUS_PRIVATE_URL={YOUR_VALUE}
INVIDIOUS_DB={YOUR_VALUE}
INVIDIOUS_USER={YOUR_VALUE}
INVIDIOUS_PASSWD={YOUR_VALUE}

